local_backend: true
backend:
  name: git-gateway
  branch: master
media_folder: static/img
public_folder: /img
collections:
  - name: 'stations'
    label: 'Stasiun'
    folder: 'static/stations'
    create: true
    slug: 'index'
    media_folder: ''
    public_folder: ''
    path: '{{name}}/index'
    editor:
      preview: false
    fields:
      - { label: 'Nama Stasiun', name: 'name', widget: 'string' }
      - { label: 'Lintang ( Horizontal, Latitude )', name: 'latitude', widget: 'string' }
      - { label: 'longitude ( Vertical, Longitude )', name: 'longitude', widget: 'string' }
